@import url('https://fonts.googleapis.com/css?family=Quicksand');

html{
  font-family: 'Quicksand', sans-serif;
  margin:0px 0px 0px 0px;
}
.full-index{
  background-image:url("back.png");
}
.master-logo{
  width:100%;
  background-image:url("background.jpg");
  box-shadow: 10px 10px 39px -21px rgba(0,0,0,1);
  margin:auto;

}

.front-logo{
}

.AGSE-main{
  width:7%;
  padding:1%;
}

.front-almacenaje{
  box-shadow: 10px 10px 39px -21px rgba(0,0,0,1);
  display:flex  ;
  flex: 0 0 50%;
  border-radius: 15px;
  width:100%;
  height:100vh;
}

.title-almacenaje{
width:50%;
height: 10%;
text-align:center;
background-color: rgb(82, 132, 148);
}
.background-almacenaje{
  background-image:url("almacenaje-background.png");
  height: 100vh;
}
.text-almacenaje{
  flex: 1;
  margin:auto;
  text-align: left;
}

.text-wrapper{
  width: 50%;
}

.logo-icon{
  flex:;
  width: 40%;
}

.front-logistica{
  box-shadow: 10px 10px 39px -21px rgba(0,0,0,1);
  background-color: rgba(255, 255, 255, 0.5);
  flex: 0 0 50%;
  width: 100%;
  height: 100vh;
  display:flex;
  border-radius: 15px;
}

.title-logistica{
  text-align: center;
  width: 50%;
}

.text-logistica{
  text-align: center;
  margin: auto;
  width: 50%;
  text-align: left;
  flex : 1;
}

.front-inge{
  box-shadow: 10px 10px 39px -21px rgba(0,0,0,1);
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  margin: auto;
  width: 100%;
  height: 100vh;
  border-radius: 15px;
  flex: 0 0 50%;
}

.title-inge{
  width:50%;
  text-align: center;
  margin:auto;
}

.text-inge{
  text-align: left;
  flex: 1;
  width: 50%;
  margin: auto;
}

.front-jit{
  box-shadow: 10px 10px 39px -21px rgba(0,0,0,1);
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex: 0 0 50%;
  margin: auto;
  width:100%;
  height: 100vh;
  border-radius: 15px;
}

.title-jit{
  width: 50%;
  margin: auto;
  text-align: center;
}

.text-jit{
  flex: 1;
  width: 50%;
  margin: auto;
  text-align: left;
}

.main-contact{
  text-align:center;
  margin: auto;
  width: 100%;/*border: solid black;*/
  height: 20vh;
  background-color: white;
  padding:1%;
  box-shadow: 10px 10px 39px -21px rgba(0,0,0,1);
}


.title-contact{
  text-align:center;
  margin: auto;
  width: 50%;
  font-size:100% !important;
}



.titles{
  font-size: 150%;
}
