@import url('https://fonts.googleapis.com/css?family=Quicksand');

html{
  font-family: 'Quicksand', sans-serif;
  margin:0px 0px 0px 0px;
}
body{
  margin: 0px;
}
h3 {
  margin: 0px;
  background-color:rgba(255,255,255,0.5);
  box-shadow: 10px 10px 39px -21px rgba(0,0,0,1);
}
.full-index{
  background-image:url("back.png");
  overflow: hidden;
}
.master-logo{
  width:100%;
  background-image:url("background.jpg");
  box-shadow: 10px 10px 39px -21px rgba(0,0,0,1);
  margin:auto;
  position:fixed;

}

.front-logo{
}

.AGSE-main{
  width:10%;
}
.content-logo  {
  overflow: hidden;
  width:100%;
  box-shadow: 10px 10px 39px -21px rgba(0,0,0,1);
}
 .content-logo a{
   align:center;
  float:left;
  text-align: center;
  padding-left:5%;
  text-decoration: none;
  color: black;
  padding-top: 5%;
  font-size: 4vh;
 }
 .content-logo img{
   float:left;
   margin:1%;
   padding-left:5%;
   padding-right: 5%;
 }


.front-almacenaje{

  box-shadow: 10px 10px 39px -21px rgba(0,0,0,1);
  display:flex  ;
  flex: 0 0 50%;
  border-radius: 15px;
  width:100%;
  height:100vh;
  padding-top:11%;
}


.title-almacenaje{
  background:url("almacenaje-background.jpg") no-repeat;
  background-size: cover;
width:50%;
height: 100%;
text-align:center;



}
.background-almacenaje{
}
.text-almacenaje{
  flex: 1;
  margin:auto;
  text-align: left;
}

.text-wrapper{
  width: 70%;
  margin-left: 10%;
}

.logo-icon{
  flex:;
  width: 40%;
}

.front-logistica{
  box-shadow: 10px 10px 39px -21px rgba(0,0,0,1);
  background-color: rgba(255, 255, 255, 0.5);
  flex: 0 0 50%;
  width: 100%;
  height: 100vh;
  display:flex;
  border-radius: 15px;
}

.title-logistica{
  background-size: cover;
  width:50%;
  height: 100%;
  text-align:center;
  background:url("logistics-wallpaper.png") no-repeat;

}

.text-logistica{
  text-align: center;
  margin: auto;
  width: 50%;
  text-align: left;
  flex : 1;
}

.front-inge{
  box-shadow: 10px 10px 39px -21px rgba(0,0,0,1);
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  margin: auto;
  width: 100%;
  height: 100vh;
  border-radius: 15px;
  flex: 0 0 50%;
}

.title-inge{
  background:url("engineer.jpg") no-repeat;
  background-size: cover;
  width:50%;
  text-align: center;
  width: 50%;
  height:100%;
}


.text-inge{
  text-align: left;
  flex: 1;
  width: 50%;
  margin: auto;
}

.front-jit{
  box-shadow: 10px 10px 39px -21px rgba(0,0,0,1);
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex: 0 0 50%;
  margin: auto;
  width:100%;
  height: 100vh;
  border-radius: 15px;
}

.title-jit{
  background: url("clock.jpg");
  background-size: cover;
  width: 50%;
  height: 100%;
  text-align: center;
}

.text-jit{
  flex: 1;
  width: 50%;
  margin: auto;
  text-align: left;
}

.main-contact{
  text-align:center;
  margin: auto;
  width: 100%;/*border: solid black;*/
  height: 20vh;
  background-color: white;
  padding:1%;
  box-shadow: 10px 10px 39px -21px rgba(0,0,0,1);
}


.title-contact{
  text-align:center;
  margin: auto;
  width: 50%;
  font-size:100% !important;
}



.titles{
  font-size: 150%;
}
