@import url('https://fonts.googleapis.com/css?family=Quicksand');

html{
  font-family: 'Quicksand', sans-serif;
  margin:0px 0px 0px 0px;
}

body{
  margin: 0px;
}

h3 {

  margin-top:30% ;
  background-color:rgba(255,255,255,0.5);
  box-shadow: 10px 10px 39px -21px rgba(0,0,0,1);

}

.full-index{
  background-image:url("back.png");
  overflow: hidden;
}

.master-logo{
  width:100%;
  background-image:url("background.jpg");
  box-shadow: 10px 10px 39px -21px rgba(0,0,0,1);
  position:fixed;
  height: auto;
  margin-bottom: 5%;
}

.AGSE-main{
  width:5%;
  margin: 1%;
}

 .content-logo a{
  float:left;
  padding-left:2%;
  padding-right:2%;
  text-decoration: none;
  color: black;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 4vh;
 }

 .content-logo img{
   float:left;
   padding-left:5%;
   padding-right: 5%;
 }
.text-nav{
  padding-left: 5%;
}

.full{
  margin-top: 4%;
}
.front{
  box-shadow: 10px 10px 39px -21px rgba(0,0,0,1);
  display:flex;
  flex: 0 0 50%;
  border-radius: 15px;
  width:100%;
  height:100vh;
  margin: 0px;
}

.title {
  font-size: 10vh;
  width:50%;
  height:100%;
  text-align: center;
}

.almacenaje{

  background-size: cover;
  background:url("almacenaje-background.jpg") no-repeat;
}


.text-almacenaje{
  flex: 1;
  margin:4%;
  padding: 3%;
}

.text-wrapper{
  font-size: 4vh;
  height: 90%;
  margin: 2%;
 }

.logo-icon{
  flex:;
  width: 40%;
}

.logistica{
  background-size: cover;
  background:url("logistics-wallpaper.png") no-repeat;
}

.text-logistica{
 width: 50%;
  text-align: left;
 margin-top: 8%;
 /*! margin-right: 0%; */
}


.inge{
  background:url("engineer.jpg") no-repeat;
  background-size: cover;
}

.text-inge{
  flex: 1;
  margin: 5%;
}


.jit{
  background-size: cover;
  background: url("clock.jpg") no-repeat;
}

.text-jit{
  flex: 1;
  margin: 4%;
}

.main-contact{
  text-align:center;
  margin: auto;
  width: 100%;/*border: solid black;*/
  height: 25vh;
  background-color: white;
  padding:1%;
  box-shadow: 10px 10px 39px -21px rgba(0,0,0,1);
  font-size: 3vh;
}

.title-contact{
  text-align:center;
  margin:auto;

  width: 50%;
  font-size:100% !important;
}

.titles{
  font-size: 8vh;
}
